.about-container-sub {
  margin: 0vw 6vw 0 6vw;
  display: flex;
  justify-content: space-between;
  gap: 5vw;
  text-align: left;
  padding-top: 6rem;
}

.about-text {
  max-width: 45vw;
  color: white;
}

.about-text p {
  font: normal normal normal 1.6rem/1.4em helvetica-w01-light,
    helvetica-w02-light, sans-serif;
  font-size: 1rem;
}

#sword-lady {
  width: 30vw;
}

.about-me {
  font-size: 4rem;
  margin-right: auto;
  text-align: center;
}

.about-line {
  margin-bottom: -1rem;
}

.about-picture-sub {
  max-width: 42vw;
  padding-top: 6rem;
}

.temp-image{
  max-width: 42vw;
}

.hyperlink-in-aboutme{
  color: rgb(206, 206, 206);
  font-style: italic;
}

.small-article-container{
  padding-top: 4rem;
}

.right-article-container{
  flex-direction: row-reverse;
}

.left-article{
  color: white;
  transform: translatey(25%);
}

@media screen and (max-width: 1200px) {
  .about-picture-sub {
    transform: translatey(25%);
    padding-top: 0rem
  }

  .aknowledgement-picture-sub {
    padding-top: 0rem
  }

  .right-picture{
    transform: none
  }
}
@media screen and (max-width: 900px) {

  .about-container {
    display: block;
    margin-top: 5rem;
  }

  .about-container-sub {
    display: block;

  }

  .about-me {
    font-size: 10vw;
  }

  .about-text {
    max-width: 100%;
  }

  .about-text p {
    font-size: 3vw;
    text-justify: auto;
  }

  .about-picture-sub {
    max-width: 30rem;
    padding: 0;
    margin: 0 auto;
    transform: none;
  }

  .left-article{
    margin-bottom: 2rem;
  }
}
