body{
  background-color: black;
}

.subPageImage  {
  transition: 0.3s ease-in-out !important;
}

.subPageImage:hover {
  transform: scale(1.08) !important;
}


@media screen and (max-width: 750px) {
  .portfolio-title{
    margin-bottom: 1rem;
    font-size: 2.5rem !important;
  }
}
