h1,
h2,
h3 {
  font: normal normal normal 1.6rem/1.4em helvetica-w01-light,
    helvetica-w02-light, sans-serif;
  /* color: white; */
}

.about-container {
  margin-top: 6vw;
  display: flex;
  justify-content: space-between;
  text-align: left;
  /* margin-bottom: 10rem; */
}

.about-text {
  max-width: 40rem;
  padding: 0 8% 8% 8%;
}

.about-text p {
  /* color: white; */
  font: normal normal normal 1.6rem/1.4em helvetica-w01-light,
    helvetica-w02-light, sans-serif;
  font-size: 1rem;
}

#sword-lady {
  width: 30vw;
}

.about-me {
  font-size: 4rem;
  margin-right: auto;
  text-align: center;
}

.about-line {
  margin-bottom: -1rem;
}

.about-picture {
  max-width: 30rem;
  padding: 3.5% 12% 1.5% 4.5%;
}

.services-container{
  margin-top: 7rem;
}

.services-text{
  margin-left: 6vw;
  font-style: italic;
}

.services-card-holder {
  height: 10rem;
}

.contact-container{
  margin-top: 7rem;
  margin-bottom: 6rem;
}

.contact-header,
.services-title {
  text-align: center;
  font-size: 4rem;
}

#contact-info {
  /* text-align: center;
  font-size: 1.3rem;
  margin: 3rem 0; */
  display: flex;
  justify-content:space-evenly;
  text-align: center;
}

#contact-title p {
  text-align: left;
  margin: -0.8rem 0;
}

.fa-icon{
  font-size: 3vw;
}

.contact-part{
  flex-grow: 1;
  flex: 1 1 0px;
}

.location-lines{

}

.location-lines p{
  margin-top: 3px;
  margin-bottom: 3px;
}

@media screen and (max-width: 750px) {

  .fixed-menu-spacer {
    width: 100%;
    background-color: #111;
    height: 3rem;
    position: fixed;
    z-index: 8;
  }

  .about-container {
    display: block;
    margin-top: 5rem;
  }
  .about-picture {
    padding: 0;
    margin: 0 12%;
    width: auto;
    max-width: 30rem;
  }

  .name-title {
    top: 24%;
  }

  .about-me,
  .contact-header,
  .services-title {
  font-size: 3rem;
}

  #contact-info {
    display: block;
    text-align: center;
  }

  .fa-icon{
    font-size: 5vw;
  }

  .contact-part{
    padding-bottom: 6vw;
  }
  .contact-part p{
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .services-container,
  .contact-container{
    margin-top: 5rem;
  }
}
