h1,
h2,
h3 {
  font: normal normal normal 1.6rem/1.4em helvetica-w01-light,
    helvetica-w02-light, sans-serif;
  /* color: white; */
}

.image {
  max-width: none !important;
}

#aboutme{
  position: relative;
  top: -3rem;
  color: black
}

.about-container {
  margin: 10vw 6vw 0 6vw;
  display: flex;
  justify-content: space-between;
  gap: 5vw;
  text-align: left;
}

.about-text {
  /* max-width: 40rem; */
  max-width: 50vw;
}

.about-text p {
  /* color: white; */
  font: normal normal normal 1.6rem/1.4em helvetica-w01-light,
    helvetica-w02-light, sans-serif;
  font-size: 1rem;
}

#sword-lady {
  width: 30vw;
}

.about-me {
  font-size: 4rem;
  margin-right: auto;
  text-align: center;
}

.about-line-main {
  margin-bottom: -1rem;
  text-align: center;
  font-size: 1.8vw !important;
}

.about-picture {
  /* max-width: 30rem; */
  max-width: 42vw;
  /* padding: 3.5% 12% 1.5% 4.5%; */
  padding-top: 4rem;
}

.about-me-link-container{
  width: 8.8rem;
  display: block;
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in-out;
  margin: 0 auto;
  text-align: center;
  transform: scale(1.2);
}

.about-me-link{
  border: 2px solid white;
  border-radius: 12px;
  padding: 5px;
  display: block;
}

.about-me-link-container:hover{
  transform: scale(1.4);
}

#services {
  color: black;
}

.services-container{
  margin-top: 7rem;
}

.services-text{
  margin-left: 6vw;
  font-style: italic;
}

.services-card-holder {
  /* height: 10rem; */
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

/* Remove extra left and right margins, due to padding */
.row {
  box-sizing: border-box;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
}

.card-image-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22vw;
}

.card-image{
  transform: scale(0.6);
}

.card-text{
  position: relative;
  font-size: 2.2vw;
  height: 1rem;
}

.contact-container{
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.services-title {
  text-align: center;
  font-size: 4rem;
}

.contact-header {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 8rem;
}

#contact-info {
  display: flex;
  justify-content:space-evenly;
  text-align: center;
}

#contact-title p {
  text-align: left;
  margin: -0.8rem 0;
}

.fa-icon{
  font-size: 3vw;
}

.contact-part{
  flex-grow: 1;
  flex: 1 1 0px;
}

.contact-part a{
  text-decoration: none;
  color: white;
}

.location-lines{

}

.location-lines p{
  margin-top: 3px;
  margin-bottom: 3px;
}

@media screen and (max-width: 900px) {
  .about-picture {
    max-width: 30rem;
    margin: 0 auto;
  }

  .about-text {
    max-width: 100%;
  }

  .about-line-main {
    font-size: 1.1rem !important;
  }
}

@media screen and (max-width: 750px) {

  .about-container {
    display: block;
    margin-top: 5rem;
  }

  .name-title {
    top: 24%;
  }

  .about-me,
  .contact-header,
  .services-title {
  font-size: 3rem;
}

  .column {
    width: 33%;
  }

  .card-text{
    font-size: 2.2vw;
  }

  #contact-info {
    display: block;
    text-align: center;
  }

  .fa-icon{
    font-size: 5vw;
  }

  .contact-part{
    padding-bottom: 6vw;
  }
  .contact-part p{
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .services-container,
  .contact-container{
    margin-top: 5rem;
  }

  .contact-header {
    margin-bottom: 4rem;
  }

}

@media screen and (max-width: 600px) {
  .card-image-holder{
    height: 38vw;
  }

  .card-image{
    transform: scale(0.8);
  }

  .column {
    width: 50%;
  }

  .card-text{
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 350px) {
  .column {
    width: 100%;
    padding: 0.5rem 1rem;
  }

  .card-image-holder{
    height: 55vw;
  }

  .card-image{
    transform: scale(0.6);
  }

  .card-text{
    font-size: 4vw;
  }
}
